version: 1.1.{build}
configuration: Release

before_build:
  - nuget restore -source "https://nuget.emzi0767.com/api/v3/index.json" -source "https://api.nuget.org/v3/index.json"

build:
  project: Tars.sln
  verbosity: minimal
  publish_nuget: true

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

nuget:
  project_feed: true

deploy:
  provider: NuGet
  api_key:
    secure: dCZNG8/ldkL2Sltly2fLr+4SEx13wnc/CNiB3p2+h9MdsEVkUcPeG+hy4r8gMPxR
  artifact: /.*(\.|\.s)nupkg/

on_success:
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/luizstudios/Tars/master/discordwebhook.ps1 -o discordwebhook.ps1
  - ps: ./discordwebhook.ps1 success $env:WEBHOOK_URL
on_failure:
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/luizstudios/Tars/master/discordwebhook.ps1 -o discordwebhook.ps1
  - ps: ./discordwebhook.ps1 failure $env:WEBHOOK_URL