version: 1.0.{build}
configuration: Release
image: Visual Studio 2019

before_build:
  - nuget restore -source "https://nuget.emzi0767.com/api/v3/index.json" -source "https://api.nuget.org/v3/index.json"

build:
  project: Tars.sln
  verbosity: minimal
  publish_nuget: true

after_build:
  - nuget add source https://nuget.pkg.github.com/luizstudios/index.json -n github -u luizstudios -p 09888b7ca5fa54afec1c60cd309e2fe1443b4acb
  - nuget push "bin/Release/Tars.1.0.0.nupkg" --source "github"
  - nuget push "bin/Release/Tars.MongoDB.1.0.0.nupkg" --source "github"
  - nuget push "bin/Release/Tars.ScheduledEvents.1.0.0.nupkg" --source "github"
  
nuget:
  project_feed: true

deploy:
  provider: NuGet
  api_key:
    secure: ct685cIFmObHfziMCNnIt+F3Cx2swIhOHfMNldh6XjGvq6hu6PYz6bKIL8Uio47A
  artifact: /.*(\.|\.s)nupkg/