version: 1.0.{build}
configuration: Release
image: Visual Studio 2019

before_build:
  - nuget restore -source "https://nuget.emzi0767.com/api/v3/index.json" -source "https://api.nuget.org/v3/index.json"

build:
  project: Tars.sln
  verbosity: minimal
  publish_nuget: true

nuget:
  project_feed: true

deploy:
  provider: NuGet
  api_key:
    secure: ct685cIFmObHfziMCNnIt+F3Cx2swIhOHfMNldh6XjGvq6hu6PYz6bKIL8Uio47A
  artifact: /.*(\.|\.s)nupkg/

deploy:
  - provider: NuGet
    server: https://nuget.pkg.github.com/luizstudios/index.json
    artifact: /.nupkg/
    username: luizstudios 
    api_key:
      secure: /kOJWHmvdiXmyXEKgLNACkylN1iSCAJbnUHKWRLlLtskvKv90YbGHauRTrplMFs9